.navbar{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.navbar-brand{
  color: #4c4743;
  font-size: 2em;
  font-weight: bold;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width:50%;
  border: none;
  padding: 10px;
}
.search-button{
  background: #4c4743;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
}
.alert{
  display: flex;
  color: #4c4743;
  background-color: #d4beae;
  border-color: #d4beae;
}
.alert span{
  font-weight: bold;
  font-size: 20px;
}
.alert .search-now{
  text-align: center;
  font-weight: bold;
}
.alert .search-now i{
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-brand{
    font-size: 2em;
    text-align: center;
    width: 100%;;
  }
  .alert{
    text-align: center;
    margin: 0 15px 15px 15px;
    display: block;
  }
  .alert p {
    font-size: 1.2em;
  }
  .alert .close span{
    font-size: 2em;
  }
  .alert .search-now{
    display: none;
  }
  .search-form{
    width: 100%;;
  }
  .search-bar{
    width: 70%;
  }
}
.tab-pane{
  padding: 15px 0;
}
.calorie-row{
  border-bottom: 3px solid #000000;
}
.calorie-row .label{ 
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: flex-end;
}
.calorie-row .amount{ 
  font-weight: bold;
    font-size: 2em;
    text-align: right;
}
.nutrient-row{
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0;
}
.nutrient-row .label{
  font-weight: bold;
}
.nutrient-row .amount{
  font-weight: bold;
  text-align: right;
}
.modal-body{
  padding: 0;
}
.modal-body img{
  width: 100%;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
  width: 50%;
  text-align: center;
  font-weight: bold;
  border-radius: 0;
}
link, .nav-tabs .nav-link{
  border-radius: 0;
}
link, .nav-tabs .nav-link.active {
  color: #4c4743;
}
link, .nav-tabs .nav-link:not(.active) {
  color: #333333;
  background: #e4e4e4;
}